<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ricky.clothes.mapper.ClothesMapper" >
  <resultMap id="BaseResultMap" type="com.ricky.clothes.model.Clothes" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="type_id" property="typeId" jdbcType="INTEGER" />
    <result column="image_name" property="imageName" jdbcType="VARCHAR" />
    <result column="location" property="location" jdbcType="INTEGER" typeHandler="com.ricky.clothes.utils.EnumLocationHandler"/>
    <result column="users_id" property="userId" jdbcType="INTEGER" />
    <result column="create_at" property="createAt" jdbcType="TIMESTAMP" />
    <result column="update_at" property="updateAt" jdbcType="TIMESTAMP" />
    <association property="type" column="type_id" select="com.ricky.clothes.mapper.TypeMapper.selectByPrimaryKey" javaType="com.ricky.clothes.model.Type"/>
    <association property="user" column="user_id" select="com.ricky.clothes.mapper.UserMapper.selectByPrimaryKey" javaType="com.ricky.clothes.model.User"/>
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, type_id, image_name, location, user_id, create_at, update_at
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from clothes
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    SELECT 
      <include refid="Base_Column_List" />
    FROM clothes
  </select>

  <resultMap id="BaseResultMapWithTag" type="com.ricky.clothes.model.Clothes" extends="BaseResultMap">
    <collection property="tags" ofType="com.ricky.clothes.model.Tag">
      <id column="tagId" property="id" jdbcType="INTEGER" />
      <result column="tagName" property="name" jdbcType="VARCHAR" />
    </collection>
  </resultMap>

  <select id="selectAllWithTag" resultMap="BaseResultMapWithTag">
    SELECT
      c.id, c.name, c.type_id, c.image_name, c.location, c.user_id, c.create_at, c.update_at,
      t.id AS tagId, t.name AS tagName
    FROM
     clothes c LEFT JOIN clothes_tag ct ON c.id = ct.clothes_id LEFT JOIN tag t on ct.tag_id = t.id
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from clothes
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ricky.clothes.model.Clothes" >
    insert into clothes (id, name, type_id, 
      image_name, location, user_id, 
      create_at, update_at)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{typeId,jdbcType=INTEGER}, 
      #{imageName,jdbcType=VARCHAR}, #{location,jdbcType=INTEGER, typeHandler=com.ricky.clothes.utils.EnumLocationHandler}, #{userId,jdbcType=INTEGER},
      #{createAt,jdbcType=TIMESTAMP}, #{updateAt,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ricky.clothes.model.Clothes" >
    insert into clothes
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="typeId != null" >
        type_id,
      </if>
      <if test="imageName != null" >
        image_name,
      </if>
      <if test="location != null" >
        location,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="createAt != null" >
        create_at,
      </if>
      <if test="updateAt != null" >
        update_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null" >
        #{typeId,jdbcType=INTEGER},
      </if>
      <if test="imageName != null" >
        #{imageName,jdbcType=VARCHAR},
      </if>
      <if test="location != null" >
        #{location,jdbcType=INTEGER, typeHandler=com.ricky.clothes.utils.EnumLocationHandler},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="createAt != null" >
        #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAt != null" >
        #{updateAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ricky.clothes.model.Clothes" >
    update clothes
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null" >
        type_id = #{typeId,jdbcType=INTEGER},
      </if>
      <if test="imageName != null" >
        image_name = #{imageName,jdbcType=VARCHAR},
      </if>
      <if test="location != null" >
        location = #{location,jdbcType=INTEGER, typeHandler=com.ricky.clothes.utils.EnumLocationHandler},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="createAt != null" >
        create_at = #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAt != null" >
        update_at = #{updateAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ricky.clothes.model.Clothes" >
    update clothes
    set name = #{name,jdbcType=VARCHAR},
      type_id = #{typeId,jdbcType=INTEGER},
      image_name = #{imageName,jdbcType=VARCHAR},
      location = #{location,jdbcType=INTEGER, typeHandler=com.ricky.clothes.utils.EnumLocationHandler},
      user_id = #{userId,jdbcType=INTEGER},
      create_at = #{createAt,jdbcType=TIMESTAMP},
      update_at = #{updateAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>